.main{
    width: 500px;
    margin: 0 auto;
    /* box-shadow: 0 0 10px grey;
    padding: 10px;
    margin-top: 60px; */
background-color: black;
border-radius: 2px white;
  }
  .sign{
      text-align: center;
      color:white;
  }
  .button1{
  
        width: 480px;
        height: 40px;
        background-color:black;
        color: aliceblue;
     
  }
  .button1:hover{
      color: blanchedalmond;

  }